ASSETCATALOG_COMPILER_APPICON_NAME = AppIcon
ASSETCATALOG_COMPILER_GLOBAL_ACCENT_COLOR_NAME = AccentColor
CODE_SIGN_IDENTITY = iPhone Developer
CURRENT_PROJECT_VERSION = 1
ENABLE_DEBUG_DYLIB = NO
GENERATE_INFOPLIST_FILE = NO
INFOPLIST_FILE = Glassdeck/App/Info.plist
IPHONEOS_DEPLOYMENT_TARGET = 26.0
LD_RUNPATH_SEARCH_PATHS = $(inherited) @executable_path/Frameworks
MARKETING_VERSION = 0.1.0
PRODUCT_BUNDLE_IDENTIFIER = com.atjsh.GlassdeckDev
PRODUCT_NAME = Glassdeck
TARGETED_DEVICE_FAMILY = 1,2
