BUNDLE_LOADER = $(TEST_HOST)
GENERATE_INFOPLIST_FILE = YES
IPHONEOS_DEPLOYMENT_TARGET = 26.0
LD_RUNPATH_SEARCH_PATHS = $(inherited) @executable_path/Frameworks @loader_path/Frameworks
PRODUCT_BUNDLE_IDENTIFIER = glassdeck.GlassdeckAppUITests
PRODUCT_NAME = GlassdeckAppUITests
TARGETED_DEVICE_FAMILY = 1,2
TEST_TARGET_NAME = GlassdeckApp
